
Learn1_Предобработка_текста/1-20220325T134505Z-001.zip

Learn2_Эмбединги/negative.csv

Learn2_Эмбединги/positive.csv

Learn3_Эмбединги_word_to_vec_and_fasttext/corpus (1)

Learn3_Эмбединги_word_to_vec_and_fasttext/positive.csv

Learn3_Эмбединги_word_to_vec_and_fasttext/negative.csv

Learn3_Эмбединги_word_to_vec_and_fasttext/lessons-3.zip

Learn3_Эмбединги_word_to_vec_and_fasttext/3-20220325T134512Z-001.zip

Learn4_Тематическое_моделирование/negative.csv

Learn4_Тематическое_моделирование/positive.csv

Learn4_Тематическое_моделирование/tweet.model.index

Learn4_Тематическое_моделирование/tweet.model

Learn6_Анализ_тональности_текста/test.tsv

Learn6_Анализ_тональности_текста/отзывы за лето.xls

Learn6_Анализ_тональности_текста/train.tsv
